#admin_settings {
	padding: 30px;
}

.settings_container {
	display: flex;
}

.settings_container label {
	width: 300px;
}

.settings_container input {
	width: auto;
}

#skillGroupsContainer p {
	width: 300px;
}

#addNewSkillGroup {
	height: fit-content;
	margin-left: 20px;
}
